In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import numpy as np

In [2]:
df = pd.read_csv('data/gold_data.csv')
df

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
0,2010-01-14,114.49,115.1400,114.4200,114.93,115646960.0,0.7200,46.26,46.520,46.2200,...,45.0200,43.8600,44.84,364528.0,1.1600,111.51,112.37,110.79,112.03,18305238.0
1,2010-01-15,114.73,114.8400,113.2000,113.64,212252769.0,1.6400,46.46,46.550,45.6500,...,45.7600,44.4000,45.76,442210.0,1.3600,111.35,112.01,110.38,110.86,18000724.0
2,2010-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-19,113.62,115.1300,113.5900,115.06,138671890.0,1.5400,45.96,46.640,45.9500,...,47.0800,45.7000,46.94,629150.0,1.3800,110.95,111.75,110.83,111.52,10467927.0
4,2010-01-20,114.28,114.4500,112.9800,113.89,216330645.0,1.4700,46.27,46.604,45.4300,...,47.3100,45.1700,47.05,643198.0,2.1400,109.97,110.05,108.46,108.94,17534231.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,2024-10-17,585.91,586.1200,582.1600,582.35,34393714.0,3.9600,496.44,496.490,491.1901,...,96.0259,94.5400,95.68,52414.0,1.4859,247.75,249.06,247.62,248.63,5176170.0
3900,2024-10-18,584.07,585.3900,582.5800,584.59,37416801.0,2.8100,494.06,495.570,493.3000,...,99.6600,97.2700,99.46,205027.0,2.3900,250.00,251.37,249.90,251.27,7833614.0
3901,2024-10-21,583.85,584.8500,580.6001,583.63,36439010.0,4.2499,493.25,496.230,491.3100,...,98.3500,95.8900,97.35,227394.0,2.4600,252.74,253.14,250.73,251.22,9258590.0
3902,2024-10-22,581.05,584.5000,580.3800,583.32,34183835.0,4.1200,492.73,497.445,491.9700,...,99.5899,97.9600,99.41,136431.0,1.6299,253.06,253.94,252.52,253.93,5756321.0
3903,2024-10-23,581.26,581.7086,574.4150,577.99,47444991.0,7.2936,493.59,494.250,485.0500,...,98.5500,96.4643,97.53,81133.0,2.0857,253.08,253.18,250.20,250.87,7899995.0

In [3]:
df.isnull().sum()

date                     0
sp500 open             185
sp500 high             185
sp500 low              185
sp500 close            185
sp500 volume           185
sp500 high-low         185
nasdaq open            185
nasdaq high            185
nasdaq low             185
nasdaq close           185
nasdaq volume          185
nasdaq high-low        185
us_rates_%            3728
CPI                   3728
usd_chf                210
eur_usd                210
GDP                   3847
silver open            185
silver high            185
silver low             185
silver close           185
silver volume          185
silver high-low        185
oil open               185
oil high               185
oil low                185
oil close              185
oil volume             185
oil high-low           185
platinum open          185
platinum high          185
platinum low           185
platinum close         185
platinum volume        185
platinum high-low      185
palladium open         185
palladium high         185
palladium low          185
palladium close        185
palladium volume       185
palladium high-low     185
gold open              185
gold high              185
gold low               185
gold close             185
gold volume            185
dtype: int64

In [7]:
# Drop rows with missing important values (gold, SP500, Nasdaq, metals)
important_cols = ["sp500 close", "nasdaq close", "silver close", "oil close",
                  "platinum close", "palladium close", "gold close"]
df_cleaned = df.dropna(subset=important_cols)


# Fill other missing values
df_cleaned['us_rates_%'] = df_cleaned['us_rates_%'].ffill()
df_cleaned['CPI'] = df_cleaned['CPI'].ffill()
df_cleaned['GDP'] = df_cleaned['GDP'].ffill()
df_cleaned['usd_chf'] = df_cleaned['usd_chf'].fillna(df_cleaned['usd_chf'].mean())
df_cleaned['eur_usd'] = df_cleaned['eur_usd'].fillna(df_cleaned['eur_usd'].mean())

/var/folders/ff/5tkb80t94wx7qkxv6ytqyvsw0000gn/T/ipykernel_4496/4002393753.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['us_rates_%'] = df_cleaned['us_rates_%'].ffill()
/var/folders/ff/5tkb80t94wx7qkxv6ytqyvsw0000gn/T/ipykernel_4496/4002393753.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['CPI'] = df_cleaned['CPI'].ffill()
/var/folders/ff/5tkb80t94wx7qkxv6ytqyvsw0000gn/T/ipykernel_4496/4002393753.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['GDP'] = df_cleaned['GDP'].ffill()
/var/folders/ff/5tkb80t94wx7qkxv6ytqyvsw0000gn/T/ipykernel_4496/4002393753.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['usd_chf'] = df_cleaned['usd_chf'].fillna(df_cleaned['usd_chf'].mean())
/var/folders/ff/5tkb80t94wx7qkxv6ytqyvsw0000gn/T/ipykernel_4496/4002393753.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['eur_usd'] = df_cleaned['eur_usd'].fillna(df_cleaned['eur_usd'].mean())

In [13]:
# Check correlation with gold close
corr = df_cleaned.corr(numeric_only=True)
target_corr = corr['gold close'].sort_values(ascending=False)
print(target_corr)

gold close            1.000000
gold low              0.999764
gold high             0.999743
gold open             0.999463
oil close             0.754307
oil high              0.754081
oil low               0.754048
oil open              0.753937
nasdaq high           0.738573
nasdaq open           0.738189
nasdaq close          0.738153
nasdaq low            0.737749
CPI                   0.709336
sp500 high            0.681964
sp500 close           0.681309
sp500 open            0.681244
sp500 low             0.680525
GDP                   0.661811
silver low            0.601549
silver close          0.601086
silver open           0.600088
silver high           0.599920
silver volume         0.580832
nasdaq high-low       0.557646
oil high-low          0.552383
us_rates_%            0.528304
palladium high        0.440820
palladium open        0.439334
palladium close       0.439038
palladium low         0.437356
platinum volume       0.418378
sp500 high-low        0.414887
palladium high-low    0.350614
silver high-low       0.340583
platinum high-low     0.228839
nasdaq volume         0.096933
gold volume           0.013642
palladium volume      0.011551
platinum high        -0.104135
platinum close       -0.106733
platinum open        -0.107057
platinum low         -0.110373
sp500 volume         -0.167480
eur_usd              -0.184526
oil volume           -0.207018
usd_chf              -0.610910
Name: gold close, dtype: float64

In [14]:
# Select top correlated features (excluding gold close itself)
top_features = target_corr[target_corr.abs() > 0.6].index.tolist()
top_features.remove('gold close')
print("Top correlated features:", top_features)

Top correlated features: ['gold low', 'gold high', 'gold open', 'oil close', 'oil high', 'oil low', 'oil open', 'nasdaq high', 'nasdaq open', 'nasdaq close', 'nasdaq low', 'CPI', 'sp500 high', 'sp500 close', 'sp500 open', 'sp500 low', 'GDP', 'silver low', 'silver close', 'silver open', 'usd_chf']

In [15]:
selected_features = [
    'oil close',
    'nasdaq close',
    'CPI',
    'GDP',
    'us_rates_%',
    'silver close',
    'usd_chf'
]

X = df_cleaned[selected_features]
y = df_cleaned['gold close']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
print("R² Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))

R² Score: 0.9972435590457194
MAE: 1.0874917177419388
RMSE: 1.6093718002150592

In [18]:
import joblib

model_path = "gold_price_rf_model.pkl"
joblib.dump(model, model_path)

['gold_price_rf_model.pkl']

In [23]:
import gold_price_prediction_model

In [32]:
import predict_gold_price